.signDialog {
    text-align: center;
    .sign-title {
        font-size: 2.5em;
    }
    .signform {
        display: grid;
        .MuiIconButton-colorSecondary:hover {
            background-color: white;
        }
        .MuiDialogActions-root {
            flex-direction: column;
        }
        .MuiFormLabel-root.Mui-focused {
            color: #10b274;
        }
        .MuiInput-underline:after {
            border-bottom-color: #10b274;
        }
        .MuiIconButton-colorSecondary:hover {
            background-color: white;
        }
        .MuiCheckbox-colorSecondary.Mui-checked {
            color: #10b274;
            &:hover {
                background-color: white;
            }
        }
        #update-sex {
            .MuiRadio-root:hover {
                color: #10b274;
            }
            .MuiRadio-root.Mui-checked {
                color: #10b274;
            }
        }
        .sign-btn {
            background-color: #81c784;
            color: white;
            margin: 30px;
            &:hover {
                background-color: #10b274;
            }
            &:disabled {
                opacity: 0.5;
            }
        }
        .switch-text {
            color: black;
            border: none;
            background-color: white;
        }
    }
}