.landing-main {
    //background: url("../../../image/mountains_5.jpg") center center / cover no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .landing-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        @media (min-width: 1128px) {
            max-width: 1080px;
        }
        @media (min-width: 744px) {
            max-width: 696px;
        }
        @media (max-width: 700px) {
            #landing-logo {
                font-size: 80px !important;
            }
            .input-form{
                min-width: 340px !important;
                flex-direction: column !important;
                height: 365px !important;
                justify-content: space-around !important;
                border-radius: 30px !important;
                .search-item {
                    width: 300px;
                }
                .header-input {
                    margin-right: 0px !important;
                }
            }
            .mountain {
                width: 100% !important;
            }
        }
    }
    .userinput {
        text-align: center;
        .input-form {
            display: inline-flex;
            margin: 30px;
            margin-top: 60px;
            padding: 40px;
            padding-left: 50px;
            padding-right: 50px;
            min-width: 620px;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 70px;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        }
    }
}

@media (max-width: 700px) {
    .MuiFormControl-root {
        width: 100% !important;
    }
    .header-input {
        width: 100% !important;
    }
}