body {
  background-color: #81c784;
  .userinput {
    text-align: center;
    form {
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 50px;
    }
    form > * {
      margin: 1rem;
    }
    .search-btn {
      background-color: #81c784;
      color: white;
      &:hover {
        background-color: #10b274;
      }
      .MuiButton-iconSizeMedium {
        margin: 0;
      }
    }
  }
}
