.mypage {
    background-color: #81c784;
    text-align: center;
    .mypage-main {
        min-height: 88vh;
        text-align: -webkit-center;
        .mypage-paper {
            @media (min-width: 1128px) {
                max-width: 1080px;
            }
            @media (min-width: 744px) {
                max-width: 696px;
            }
            .mypage-body {
                padding: 20px;
                text-align: left;
                margin-top: 20px;
                header {
                    margin: 40px 0px;
                }
            }
            footer {
                display: flex;
                #update-btn {
                    color: white;
                    background-color: #10b274;
                    margin-bottom: 45px;
                    &:hover {
                        background-color: #059960;
                    }
                }
                #delete-btn {
                    font-size: 0.5em;
                    width: 76px;
                    color: white;
                    background-color: rgb(247, 111, 111);
                    &:hover {
                        background-color: rgb(247, 83, 83);
                    }
                }
            }
        }
    }
}