.mypage {
    background-color: white;
    .mypage-main {
        text-align: -webkit-center;
        min-height: 88vh;
        .mypage-body {
            padding: 20px;
            text-align: left;
            margin-top: 20px;
            @media(min-width: 1128px) {
                max-width: 1080px;
            }
            @media(min-width:744px) {
                max-width: 696px;
            }
            header {
                margin: 40px 0px;
            }
        }
    }
}