.input-paper {
    position: absolute;
    border: 3px solid #10b274;
    top: 15%;
    left: 16%;
    height: 75%;
    width: 70%;
    background-color: white;
    box-shadow: 5px 5px 5px 5px;
    padding: 16px 50px 24px;
    overflow-x: auto;
    overflow-y: auto;
    .input-form {
        display: block;
        text-align: center;
        #input-title {
            width: 720px;
            display: block;
        }
        header {
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            margin-top: 30px;
            border-bottom: 2px solid #10b274;
            height: 90px;
            .input-header {
                width: 200px;
            }
            #age-info {
                display: inline-flex;
                position: relative;
                flex-direction: column;
                align-items: baseline;
                vertical-align: top;
                bottom: 24px;
                #slider-label {
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 0.8rem;
                    margin-bottom: 1.1em;
                }
                #input-age {
                    color: black
                }
                &:active {
                    #slider-label {
                        color: #10b274;
                    }
                    #input-age {
                        color: #10b274
                    }
                }
            }
        }
        .input-body {
            display: flex;
            justify-content: space-around;
            .input-detail {
                margin-top: 28px;
                width: 30%;
                height: 200px;
                padding: 10px;
                display: inline-block;
                border: 2px solid black;
                resize: none;
                &:focus {
                    outline: none;
                    border-color: #10b274;
                }
            }
            #input-description {
                width: 50%;
                border-style: dashed;
            }
        }
        footer {
            border-top: none;
            display: block;
            text-align: center;
            .form-btn {
                margin-right: 40px;
                color: white;
                background-color: #10b274;
                font-size: 1.4em;
                width: auto;
                height: 40px;
                margin-top: 30px;
                &:hover {
                    background-color: #059960;
                }
            }
        }
    }
}