.input-paper {
    position: absolute;
    border: 3px solid #10b274;
    top: 20%;
    left: 18%;
    height: 61%;
    width: 65%;
    background-color: white;
    box-shadow: 5px 5px 5px 5px;
    padding: 16px 50px 24px;
    overflow-x: auto;
    overflow-y: auto;
    .input-form {
        display: block;
        #input-title {
            margin-top: 3%;
        }
        header {
            display: flex;
            justify-content: space-around;
            .input-header {
                width: 200px;
            }
        }
    }
}