.input-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    .header-input {
        margin-right: 30px;
    }
    .MuiFormControl-fullWidth {
        width: 130px;
    }
    .MuiFormLabel-root.Mui-focused {
        color: #10b274;
    }
    .MuiInput-underline:after {
        border-bottom-color: #10b274;
    }
    .MuiFormControl-marginNormal {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #input-date {
        padding-top: 9px;
    }
}

#search-btn {
    background-color: #10b274;
    margin-top: 10px;
    .MuiButton-startIcon {
        margin-left: 0px;
        margin-right: 0px;
    }
    .MuiButton-iconSizeMedium>*:first-child {
        font-size: 2em;
        color: white;
    }
    &:hover {
        background-color: #059960;
    }
}