.MuiFormControl-root {
    width: 100%;
}
.MuiPickersCalendar-week {
    .MuiPickersDay-daySelected {
        color: #fff !important;
        background-color: #81c784 !important;
    }
    .MuiPickersDay-current {
        color: #81c784;
    }
}
