.apply-list-paper {
    .apply-list-item {
        width: 400px;
        .apply-list-item-btn {
            width: 50%;
            display: flex;
            justify-content: space-around;
            .admission-btn {
                color: white;
                background-color: #10b274;
                &:hover {
                    background-color: #059960;
                }
            }
            .reject-btn {
                color: white;
                background-color: rgb(247, 111, 111);
                &:hover {
                    background-color: rgb(247, 83, 83);
                }
            }
        }
    }
}
