.show {
    background: url("../../../image/mountains_5.jpg") center center / cover no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .show-paper {
        @media (min-width: 1128px) {
            flex-basis: 1080px;
        }
        @media (min-width: 744px) {
            flex-basis: 696px;
            .header-detail {
                margin-right: 15px !important;
            }
        }
        @media (max-width: 700px) {
            width: 450px;
            #contact-paper {
                height: 135px !important;
                width: 153px !important;
            }
        }
        text-align: left;
        padding: 30px;
        background-color: white;
        .back-btn {
            color: white;
            background-color: #10b274;
            font-size: 1em;
            height: 30px;
            border-radius: 20px;
            &:hover {
                background-color: #059960;
            }
        }
        #show-title {
            display: block;
            text-align: center;
            margin-top: 30px;
        }
        #show-name {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 50px;
        }
        .show-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .show-header {
                border-bottom: 2px solid #10b274;
                .header-detail {
                    display: inline-block;
                }
                .header-info {
                    margin-bottom: 15px;
                }
            }
            .show-body {
                #show-description {
                    display: block;
                    word-break: break-all;
                }
            }
            .side {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                margin-left: 20px;
                margin-top: 32px;
                width: 190px;
                .side-paper {
                    width: 100%;
                    margin-bottom: 30px;
                }
                #contact-paper {
                    padding: 17px;
                    padding-bottom: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    #contact-contents {
                        display: block;
                        word-break: break-all;
                        text-align: left;
                    }
                    #contact-icon {
                        color: #10b274;
                        margin-bottom: 4px;
                    }
                }
                #Member-paper {
                    padding: 10px;
                    text-align: center;
                    .Member-info {
                        margin-top: 3px;
                        border: 2px solid #10b274;
                        padding: 10px;
                    }
                }
                #btn-paper {
                    width: 119px;
                    text-align: center;
                    .apply-btn {
                        color: white;
                        background-color: #10b274;
                        font-size: 1.4em;
                        &:hover {
                            background-color: #059960;
                        }
                    }
                    .leave-btn {
                        color: white;
                        background-color: rgb(247, 111, 111);
                        font-size: 1.3em;
                        &:hover {
                            background-color: rgb(247, 83, 83);
                        }
                    }
                    #update-btn {
                        color: white;
                        background-color: #10b274;
                        font-size: 1.4em;
                        &:hover {
                            background-color: #059960;
                        }
                    }
                }
            }
        }
        footer {
            .footer-btn {
                text-align: center;
                #delete-btn {
                    color: white;
                    background-color: rgb(247, 111, 111);
                    font-size: 1em;
                    margin-top: 20px;
                    &:hover {
                        background-color: rgb(247, 83, 83);
                    }
                }
            }
        }
    }
}