.show {
    background: url("../../../image/mountains_5.jpg") center center / cover no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .show-paper {
        @media (min-width: 1128px) {
            flex-basis: 1080px;
        }
        @media (min-width: 744px) {
            flex-basis: 696px;
            .header-detail {
                margin-right: 15px !important;
            }
        }
        @media (max-width: 700px) {
            & {
                width: 100% !important;
            }
            .show-flex {
                flex-direction: column;
                align-items: center;
                .show-box {
                    width: 100% !important;
                    .show-header {
                        padding-bottom: 30px !important;
                        .header-detail {
                            width: 100% !important;
                        }
                    }
                }
                .side {
                    margin-top: 20px !important;
                    margin-left: 0px !important;
                    #Member-paper {
                        padding: 17px !important;
                    }
                }
            }
            #update-title {
                width: 320px !important;
            }
            footer {
                margin-top: 25px !important;
            }
        }
        animation: fadein 0.5s;
        text-align: left;
        padding: 30px;
        background-color: white;
        #mountain-info {
            display: flex;
            align-items: center;
            .mountain-detail {
                margin-left: 20px;
                button {
                    padding: 0px;
                    color: #10b274;
                    border-color: #10b274;
                }
            }
        }
        .back-btn {
            color: white;
            background-color: #10b274;
            font-size: 1em;
            height: 30px;
            border-radius: 20px;
            &:hover {
                background-color: #059960;
            }
        }
        #show-title {
            display: block;
            text-align: center;
            margin-top: 30px;
            font-size: 1.3em;
        }
        #show-name {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 50px;
        }
        .show-flex {
            display: flex;
            justify-content: space-between;
            .show-header {
                border-bottom: 2px solid #10b274;
                .header-detail {
                    display: inline-block;
                }
                .header-info {
                    margin-bottom: 15px;
                }
            }
            .show-body {
                #show-description {
                    display: block;
                    word-break: break-all;
                }
            }
            .side {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: fit-content;
                margin-left: 20px;
                width: 330px;
                .side-paper {
                    width: 100%;
                    margin-bottom: 30px;
                }
                #contact-paper {
                    width: 250px;
                    padding: 17px;
                    padding-bottom: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    #contact-contents {
                        display: block;
                        word-break: break-all;
                        text-align: left;
                    }
                    #contact-icon {
                        color: #10b274;
                        margin-bottom: 4px;
                    }
                }
                #Member-paper {
                    width: auto;
                    padding: 10px;
                    text-align: center;
                    .Member-info {
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        margin-top: 3px;
                        border: 2px solid #10b274;
                        padding: 10px;
                        .member {
                            display: flex;
                            align-items: center;
                            .MuiSvgIcon-root {
                                font-size: 1rem;
                                margin-right: 5px;
                            }
                            .expel-btn {
                                color: white;
                                left: 3px;
                                background-color: rgb(247, 111, 111);
                                &:hover {
                                    background-color: rgb(247, 83, 83);
                                }
                                svg {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
                #btn-paper {
                    width: 100%;
                    text-align: center;
                    .apply-btn {
                        color: white;
                        background-color: #10b274;
                        font-size: 1.4em;
                        &:hover {
                            background-color: #059960;
                        }
                    }
                    .apply-cancel-btn {
                        color: white;
                        background-color: orange;
                        font-size: 1.3em;
                        &:hover {
                            background-color: rgb(218, 142, 1);
                        }
                    }
                    .leave-btn {
                        color: white;
                        background-color: rgb(247, 111, 111);
                        font-size: 1.3em;
                        &:hover {
                            background-color: rgb(247, 83, 83);
                        }
                    }
                    .leader-btn {
                        display: flex;
                        justify-content: space-evenly;
                        #update-btn,
                        #apply-list-btn {
                            color: white;
                            background-color: #10b274;
                            font-size: 1.4em;
                            &:hover {
                                background-color: #059960;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .footer-btn {
                text-align: center;
                margin-top: 20px;
                #delete-btn {
                    color: white;
                    background-color: rgb(247, 111, 111);
                    font-size: 1em;
                    margin-top: 20px;
                    &:hover {
                        background-color: rgb(247, 83, 83);
                    }
                }
            }
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
