.show-paper {
    // @media (max-width: 750px) {
    //     min-width: 100px
    // }
    #update-title {
        width: 600px;
    }
    #show-name {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    #show-name-update {
        margin-bottom: 0px;
    }
    #slider-label {
        color: rgba(0, 0, 0, 0.54);
        font-size: 0.8rem;
        margin-bottom: 0px;
    }
    .header-info-update {
        margin-top: 28px;
    }
    #update-date {
        margin-top: 0px;
    }
    #update-description {
        width: 100%;
        height: 80%;
    }
    #update-contact {
        height: 100%;
    }
}