.cardList {
    .cardList-header {
        min-height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            .header-input {
                margin-right: 30px;
                margin-left: 30px;
                height: 40px;
                .MuiFormLabel-root.Mui-focused {
                    color: #10b274;
                }
                .MuiInput-underline:after {
                    border-bottom-color: #10b274;
                }
            }
            #input-btn {
                background-color: #10b274;
                margin-top: 10px;
                margin-right: 30px;
                .MuiButton-startIcon {
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .MuiButton-iconSizeMedium>*:first-child {
                    font-size: 2em;
                    color: white;
                }
            }
        }
        a {
            text-decoration: none;
        }
        .header-btn {
            font-size: 1.2em;
            color: white;
            background-color: #81c784;
            height: 50px;
            margin-right: 10px;
            margin-left: 10px;
            &:hover {
                background-color: #10b274;
            }
        }
        #myPage-btn {
            font-size: 2em;
        }
    }
    .cardList-body {
        min-height: 88vh;
        background-color: #81c784;
    }
}