.cardList {
    width: 100%;
}

.cardList-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 540px) {
    .input-form {
        flex-direction: column !important;
        margin: 20px !important;
        .header-input {
            margin: 0px !important;
            margin-bottom: 20px !important;
        }
        #search-mountain {
            margin: 0px !important;
        }
    }
}

//Card-Header
.cardList-header {
    @media (max-width: 1150px) {
        #search-mountain {
            display: none !important;
        }
        #search-date {
            display: none !important;
        }
        #search-peopleNum {
            display: none !important;
        }
        #myPage-btn {
            font-size: 2em !important;
            width: 40px !important;
        }
    }
    @media (max-width: 550px) {
        flex-direction: column;
        .header-bar {
            padding-top: 5px !important;
            padding-bottom: 7px !important;
        }
        #header-logo {
            margin-top: 20px !important;
        }
    }
    box-shadow: 5px 5px 5px -5px gray;
    background-color: #ffffff;
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
    opacity: 0.8;
    .header-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        padding: 25px;
        padding-right: 0px;
    }
    #header-logo {
        color: black;
    }
    a {
        text-decoration: none;
    }
    .header-user {
        display: flex;
        .header-btn {
            width: 70%;
            font-size: 97%;
            color: white;
            background-color: #81c784;
            height: 50px;
            margin-left: 20px;
            &:hover {
                background-color: #10b274;
            }
        }
        #myPage-btn {
            font-size: 100%;
            width: 140px;
            margin-right: 20px;
        }
    }
}

//Card-Body
section {
    .cardList-body {
        min-height: 88vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
        .cards {
            //Cards.js
            box-shadow: 5px 5px 5px -3px;
            width: 70%;
            height: 336px;
            margin: 12% 15% 12% 15%;
            overflow-y: auto;
            .card-info {
                font-size: 1em;
                margin-bottom: 10px;
            }
            #card-writer {
                text-align: center;
            }
            #card-title {
                height: 20px;
                font-size: 1em;
                margin-bottom: 21px;
            }
            .card-action {
                display: block;
                text-align: center;
                .card-btn {
                    font-size: 1em;
                    color: white;
                    background-color: #81c784;
                    &:hover {
                        background-color: #10b274;
                    }
                }
            }
        }
        #disable-card {
            pointer-events: none;
            background-color: rgb(221, 219, 219);
            color: #555;
            opacity: 1;
            .card-btn {
                background-color: gray;
            }
        }
    }
    footer {
        text-align: center;
        background-color: #81c784;
    }
    #body-nocard {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        font-size: 1.4em;
        opacity: 0.9;
        strong {
            padding: 12px;
            background-color: white;
            color: #555;
            border-radius: 30px;
        }
    }
}

//Card-Footer
.cardList-footer {
    height: 50px;
    margin-top: -50px;
    text-align: center;
    position: fixed;
    right: 44px;
    bottom: 100px;
    .refresh-btn {
        width: 70px;
        height: 70px;
        bottom: 30px;
        color: white;
        background-color: #10b274;
        font-size: 1.3em;
        &:hover {
            background-color: #059960;
        }
        .MuiSvgIcon-root {
            width: 1.5em;
            height: 1.5em;
        }
    }
    .add-btn {
        width: 70px;
        height: 70px;
        bottom: 10px;
        color: white;
        background-color: #10b274;
        font-size: 1.3em;
        &:hover {
            background-color: #059960;
        }
        .MuiSvgIcon-root {
            width: 1.5em;
            height: 1.5em;
        }
    }
}

// responsive header search
.search-item {
    width: 100% !important;
    margin-right: 30px !important;
    .MuiFormControl-root {
        width: 100% !important;
    }
}

@media (max-width: 550px) {
    .search-item {
        margin-right: 0px !important;
    }
}