.modal-paper {
    position: absolute;
    border: 3px solid #10b274;
    top: 20%;
    left: 18%;
    height: 463px;
    width: 65%;
    background-color: white;
    box-shadow: 5px 5px 5px 5px;
    padding: 16px 30px 24px;
    overflow-x: auto;
    overflow-y: auto;
    .modal-screen {
        width: "900px";
        #modal-title {
            text-align: center;
            margin-top: 3%;
        }
        .modal-header {
            border-bottom-color: #10b274;
        }
        .modal-body {
            display: inline-flex;
            flex-direction: column;
            width: 650px;
            .details-item {
                width: 100%;
                margin-top: 10px;
                display: inline-block;
                .details-info {
                    margin-top: 3px;
                    padding: 10px;
                    height: auto;
                }
            }
            #modal-description {
                border: 2px dashed #10b274;
                height: 100px;
            }
            #modal-contact {
                span {
                    margin-right: 15px;
                    #contact-icon {
                        font-size: 2em;
                        color: #059960;
                    }
                }
            }
        }
        aside {
            float: right;
            margin-right: 50px;
            margin-top: 27px;
            .modal-people {
                text-align: center;
                .people-info {
                    margin-top: 3px;
                    border: 2px solid #10b274;
                    padding: 10px;
                }
            }
        }
        .modal-footer {
            display: block;
            text-align: center;
            padding-top: 0px;
            .apply-btn {
                margin-right: 40px;
                color: white;
                background-color: #10b274;
                font-size: 1.4em;
                width: auto;
                height: 40px;
                margin-top: 20px;
                &:hover {
                    background-color: #059960;
                }
            }
        }
    }
}