.signupform {
  background-color: #81c784;
  text-align: center;
  min-height: 100vh;
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    min-height: 12vh;
    .header-user {
      display: flex;
      @media (max-width: 700px) {
        display: none;
      }
      .header-btn {
        width: 70%;
        font-size: 97%;
        color: white;
        background-color: #81c784;
        height: 50px;
        margin-right: 20px;
        margin-left: 20px;
        &:hover {
          background-color: #10b274;
        }
      }
      #myPage-btn {
        font-size: 200%;
      }
    }
  }
  .Signup-body {
    width: 400px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 40px 55px 45px 55px;

    & > * {
      width: 300px;
      padding: 0px;
      height: 60px;
    }
    .MuiRadio-root {
      color: #81c784;
    }
    .MuiTouchRipple-root.Mui-checked {
      color: #10b274;
    }
    .MuiFormLabel-root.Mui-focused {
      color: #10b274;
    }
    .MuiInput-underline:after {
      border-bottom-color: #10b274;
    }
    .MuiIconButton-colorSecondary:hover {
      background-color: white;
    }
    .MuiCheckbox-colorSecondary.Mui-checked {
      color: #10b274;
      &:hover {
        background-color: white;
      }
    }
    .reg-btn {
      color: white;
      background-color: #81c784;
      &:hover {
        background-color: #10b274;
      }
    }
    .err_msg {
      height: 30px;
      color: red;
    }
  }
}
